<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <title>Simple Map</title>
    <link rel="stylesheet" href="https://js.arcgis.com/3.19/esri/css/esri.css">
    <style>
        html, body, #map {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #LocateButton {
            position: absolute;
            top: 95px;
            left: 20px;
            z-index: 50;
        }
    </style>
    <script src="https://js.arcgis.com/3.19/"></script>
    <script>
        var map;

        require(["esri/map", "esri/dijit/LocateButton","dojo/domReady!"], function(Map,LocateButton) {
            map = new Map("map", {
                basemap: "topo",  //For full list of pre-defined basemaps, navigate to http://arcg.is/1JVo6Wd
                center: [121.474, 31.229],
                zoom: 15
            });

            geoLocate = new LocateButton({
                map: map
            }, "LocateButton");
            geoLocate.startup();


        });
    </script>
</head>

<body>
<div id="map" class="map">
    <div id="LocateButton"></div>
</div>
</body>
</html>